/* Light Mode Styles */
body.light-mode {
    background-color: #fff;
    color: #333;
    /* Add other light mode styles */
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
    /* Add other dark mode styles */
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}
