/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;

}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

footer a {
    text-decoration: none;
}

footer p {
    text-align: center;
}
